@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-purple: #9985da;
    --colo-purple2: rgb(241, 0, 0 , 0.2);
    --colo-black: #000;
    --colo-black: #fff;
}

body {
    font: Arial;
    font-size: 1rem;
}

header {
    background-color: var(--color-purple);
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

header h1 {
    
    font-family: "Unbounded", sans-serif;
    margin: 8%;

}

header, .titulo {
    display: flex;
    align-items: center;
}

.imglogo {
    height: 4em;
    border-radius: 100%;
    margin: 5%;
}

nav {

    display: flex;
    align-items: center;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    background-color: var(--colo-purple2);
    border-radius: 10px;        
    padding: 1em;
    font-family: "Unbounded", sans-serif;
}

.btn_icon_header {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  display: none;
}

@media screen and (max-width: 768px) {

    .btn_icon_header {
        display: block;
    }

    nav {
        display: flex;
        position:absolute;
        flex-direction: column;
        align-items: center;
        gap: 8%;
        justify-content: center ;
        top: 0;
        background-color: var(--color-purple);
        height: 100%;
        width: 35vw;
        padding: 16px;
        margin-left: -100vw;
        animation: 1s;
    }

    nav a {
        background-color: var(--colo-purple2);
        border-radius: 10%;
        padding: 5%;
    }
    
}

@keyframes showSidebar {
    from {
        margin-left: 100vw;
    }
    to {
        margin-left: -10vw;
    }
}