* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #4400ff, #bf7bfe);
    font: normal 1rem Arial;
    color: rgb(117, 40, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-cartao {
    background-color: rgb(253, 254, 255);
    border-radius: 10px;
    margin-top: 4em;
    width: 70vh;
    height: 70vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-cartao h1, h2 {
    display: flex;
    justify-content: center;

}

p, h4{
    margin: 5%;
}

button {
    width: 6em;
    height: 3em;
    border-radius: 15px;
    border: none;
    display: flex;
    color: #4400ff;
    background-color: #bf7bfe;
}

