*{
    box-sizing: border-box;
}

:root {
    --color-white: #ffff;
    --color-blue: #0066db;
    --color-black: #000000;
}

body {
    font: normal 16px Arial;
}

header {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 19px 8%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links {
    
}

.imglogo {
    width: 7em;
}

