:root {
    --color-red: #ff0000;
}

* {
    margin: 0px;
}

body {
    font: normal 16px Arial;
}

h1 {
    color: var(--color-red);
}

.logo-g1 {
    height: 4em;
    border-radius: 10px;
}

header {
    background-color: var(--color-red);
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a{
    text-decoration: none;
    margin: 6px;
    
}